body {
	background-color: black;
}

.main-section {
	background-color: white;
	height: 500px;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	overflow:hidden;
}

.ryu {
	float: left;
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
	background-repeat: no-repeat;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
	float: left;
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display:none;
	position: relative;
	top: 169px;
	left:-212px;
}

.instructions {
	float: left;
	width: 500px;
	position: absolute;
	top: 110px;
	left: 760px;
}
.instructions h1 {
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	padding-top: 1em;
	margin-top: 1em;
}